<%- include('../partials/header') %>
<form action = "/skills" method="POST" autocomplete = "off">
    <label for="skill">Skill</label>
    <input type = "text" name = "skill">
    <label for ="rating">Skill Level(1-10)</label>
    <input type = "text" name = "rating">
    <button type="submit">Save Skill</button>
</form>

<%- include('../partials/footer')%>